<div class="form-group">
    <input 
        class="form-control"    
        [type]="type" 
        [placeholder]="label"
        [formControl]="ngControl.control"
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
    />  
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please provide a {{ label }}</div>  
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
        {{ label }} must be at least {{ ngControl.control.errors?.minlength['requiredLength'] }} characters
    </div>  
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
        {{ label }} must be at least {{ ngControl.control.errors?.maxlength['requiredLength'] }} characters
    </div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
        Passwords do not match
    </div>  
</div>