<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{ member.photoUrl || 'assets/user.png' }}" alt="{{ member.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location: </strong>
                    <span>{{ member.city }}, {{ member.country }}</span>
                </div>
                <div>
                    <strong>Age: </strong>
                    <span>{{ member.age }}</span>
                </div>
                <div>
                    <strong>Last Active: </strong>
                    <span>{{ member.lastActive | timeago }}</span>
                </div>
                <div>
                    <strong>Member Since: </strong>
                    <span>{{ member.createdAt | date : 'dd MMM yyyy' }}</span>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div *ngIf="editForm.dirty" class="alert alert-warning">
            <strong>Warning: </strong>
            You have made changes. Any unsaved changes will be lost.
        </div>
        <tabset class="member-tabset">
            <tab heading="Edit Info">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateInfo()">
                    <div class="form-group">
                        <h4>Description</h4>
                        <textarea [(ngModel)]="member.introduction" name="introduction" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <h4>Looking For</h4>
                        <textarea [(ngModel)]="member.lookingFor" name="lookingFor" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <h4>Interests</h4>
                        <textarea [(ngModel)]="member.interests" name="interests" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <h4>Location Details: </h4>
                        <div class="form-inline">
                            <label class="mr-2" for="country">Country: </label>
                            <input name="country" [(ngModel)]="member.country" id="country" type="text" class="form-control mr-3" />
                            <label class="mr-2" for="city">City: </label>
                            <input name="city" [(ngModel)]="member.city" id="city" type="text" class="form-control" />
                        </div>
                    </div>
                </form>
            </tab>
            <tab heading="Update Photos">
                <app-photo-editor [member]="member"></app-photo-editor>
            </tab>
        </tabset>
    </div>
</div>