input[type="file"] {
  color: transparent;
}

img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 5px red;
}

.file-list-zone:empty + .file-upload-zone {
  min-width: 100%;
}
