<div class="container mt-5 pt-5">
    <div *ngIf="!registerMode" class="text-center">
        <h1>Find your match</h1>
        <p class="lead">Want to find your best match ever ? Let's sign up!!!</p>
        <div class="text-center">
            <button (click)="toggleRegisterMode()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelled)="toggleRegisterMode()"></app-register>
            </div>
        </div>
    </div>
</div>