<form [formGroup]="registerForm" (submit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="h2 text-center">Sign Up</h2>

    <hr>

    <div class="form-group d-flex">
        <span class="mr-2">I am a:</span>
        <div class="form-check form-check-inline d-flex">
            <input class="form-check-input" type="radio" value="male" formControlName="gender">
            <label class="form-check-label">Male </label>
        </div>
        <div class="form-check form-check-inline d-flex">
            <input class="form-check-input" type="radio" value="female" formControlName="gender">
            <label class="form-check-label">Female </label>
        </div>
    </div>

    <app-text-input
        label="Known As"
        [formControl]="registerForm.controls['knownAs']"
    ></app-text-input>

    <app-text-input
        label="Username"
        [formControl]="registerForm.controls['username']"
    ></app-text-input>

    <app-date-input
        label="Date Of Birth"
        [formControl]="registerForm.controls['dateOfBirth']"
        [maxDate]="maxDate"
    ></app-date-input>

    <app-text-input
        label="City"
        [formControl]="registerForm.controls['city']"
    ></app-text-input>
    
    <app-text-input
        label="Country"
        [formControl]="registerForm.controls['country']"
    ></app-text-input>

    <app-text-input
        label="Password"
        type="password"
        [formControl]="registerForm.controls['password']"
    ></app-text-input>

    <app-text-input
        label="Confirm Password"
        type="password"
        [formControl]="registerForm.controls['confirmPassword']"
    ></app-text-input>

    <div class="text-center" class="form-group">
        <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success mr-2">Register</button>
        <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
    </div>
</form>