<form [formGroup]="registerForm" (submit)="register()" autocomplete="off">
    <h2 class="h2 text-center">Sign Up</h2>
    <hr>
    <div class="form-group">
        <input 
            formControlName="username" 
            type="text" 
            class="form-control" 
            placeholder="Username" 
            [class.is-invalid]="registerForm.get('username').errors && registerForm.get('username').touched"
        />    
        <div *ngIf="registerForm.get('username').hasError('required')" class="invalid-feedback">Please provide an username</div>  
    </div>
    <div class="form-group">
        <input 
            formControlName="password" 
            type="password" 
            class="form-control" 
            placeholder="Password"
            [class.is-invalid]="registerForm.get('password').errors && registerForm.get('password').touched"
        />  
        <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Please provide a password</div>  
        <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">Password must be at least 4 characters</div>  
        <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">Password must be at most 8 characters</div>  
    </div>
    <div class="form-group">
        <input 
            formControlName="confirmPassword" 
            type="password" 
            class="form-control" 
            placeholder="Password"
            [class.is-invalid]="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched"
        />    
        <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">Please provide a confirm password</div>  
        <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">Confirm password must match password</div>  
    </div>
    <div class="text-center" class="form-group">
        <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success mr-2">Register</button>
        <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
    </div>
</form>