<form [formGroup]="registerForm" (submit)="register()" autocomplete="off">
    <h2 class="h2 text-center">Sign Up</h2>

    <hr>
    
    <app-text-input
        label="Username"
        [formControl]="registerForm.controls['username']"
    ></app-text-input>

    <app-text-input
        label="Password"
        type="password"
        [formControl]="registerForm.controls['password']"
    ></app-text-input>

    <app-text-input
        label="ConfirmPassword"
        type="password"
        [formControl]="registerForm.controls['confirmPassword']"
    ></app-text-input>

    <div class="text-center" class="form-group">
        <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success mr-2">Register</button>
        <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
    </div>
</form>