<h2 class="text-center my-3">Your Matches - {{ pagination?.TotalItems || 0 }} found</h2>

<form class="form-inline mb-4" #memberFiltersForm>
    <div class="form-group">
        <label for="ageFrom">Age From</label>
        <input type="number" name="minAge" [(ngModel)]="userParams.minAge" id="ageFrom" class="form-control ml-2">
    </div>
    <div class="form-group ml-2">
        <label for="ageTo">Age To</label>
        <input type="number" name="maxAge" [(ngModel)]="userParams.maxAge" id="ageTo" class="form-control ml-2">
    </div>
    <div class="form-group ml-2">
        <label for="showGender">Show Gender</label>
        <select [(ngModel)]="userParams.gender" name="gender" id="showGender" class="form-control ml-2" [value]="oppositeGender()">
            <option *ngFor="let gender of genderList" [value]="gender.value">{{ gender.label }}</option>
        </select>
    </div>
    <button (click)="applyFilters()" class="btn btn-primary ml-1">Apply Filters</button>
    <button (click)="resetFitlers()" class="btn btn-info ml-1">Reset Filters</button>
</form>

<div class="row">
    <div *ngFor="let member of members" class="col-2">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div *ngIf="pagination" class="d-flex justify-content-center">
    <pagination 
        [totalItems]="pagination.TotalItems"
        [itemsPerPage]="pagination.ItemsPerPage"
        [(ngModel)]="pagination.CurrentPage"
        [boundaryLinks]="true"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
    ></pagination>
</div>