<ng-container>
    <div class="mt-5 pt-5 text-center">
        <button (click)="get400Error()" class="btn btn-warning mr-2">Get 400 error</button>
        <button (click)="get401Error()" class="btn btn-warning mr-2">Get 401 error</button>
        <button (click)="get404Error()" class="btn btn-warning mr-2">Get 404 error</button>
        <button (click)="get500Error()" class="btn btn-warning mr-2">Get 500 error</button>
        <button (click)="getValidationError()" class="btn btn-warning mr-2">Get Validation error</button>
    </div>
</ng-container>